::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background: #222222; 
}
::-webkit-scrollbar-thumb{
    background: #f77f00;
}
.container > .header > .menu > .navigation{
    list-style: none;
    margin: 0;
    padding: 10px;
    background: #222222;
    height: 50px;
}
.container > .header > .menu > .navigation > li{
    float: left;
}
.container > .header > .menu > .navigation > li > a{
    text-decoration: none;
    color: #f77f00;
    padding: 0 15px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    display: block;
    transition: 0.3s;
    font-size: 14px;
}
.container > .header > .menu > .navigation > li > a:hover{
    color: #ffba70;
    background: #f7800035;
}
.container > .layout > .blocks > .history{
    margin: 10px;
    padding: 10px;
    background: #00000095;
    border-radius: 10px;
}
.container > .layout > .blocks > .history > .heading{
    margin: 0 0 10px;
    font-weight: 700;
}
.widget > .top{
    margin: 0;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    width: 70px;
    height: 70px;
    color: #ffba70;
    background: #00000065;
    border-radius: 10px;
    text-decoration: none;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 64px;
    transition: 0.3s;
}
.widget > .top:hover{
    color: #f77f00;
    background: #00000095;
}