::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background: #222222; 
}
::-webkit-scrollbar-thumb{
    background: #f77f00;
}
.container > .header > .menu > .navigation{
    list-style: none;
    margin: 0;
    padding: 10px;
    background: #222222;
    height: 50px;
}
.container > .header > .menu > .navigation > li{
    float: left;
}
.container > .header > .menu > .navigation > li > a{
    text-decoration: none;
    color: #f77f00;
    padding: 0 15px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    display: block;
    transition: 0.3s;
    font-size: 14px;
}
.container > .header > .menu > .navigation > li > a:hover{
    color: #ffba70;
    background: #f7800035;
}
.container > .layout > .blocks > .images{
    margin: 10px;
    padding: 10px;
    background: #00000095;
    border-radius: 10px;
    user-select: none;
}
.container > .layout > .blocks > .images > .heading{
    margin: 0 0 10px;
    font-weight: 700;
    user-select: text;
}
.container > .layout > .blocks > .images > .heading > b{
    margin-left: 20px;
    color: #ffba70;
}
.container > .layout > .blocks > .images > .content{
    height: 2149px;
}
.container > .layout > .blocks > .images > .content > .three{
    height: 300px;
    width: 480px;
    border-radius: 10px;
    background-image: url(../images/1620111340_11-phonoteka_org-p-gitarnii-fon-15.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 6px;
}
.container > .layout > .blocks > .images > .content > .four{
    height: 300px;
    width: 453px;
    border-radius: 10px;
    background-image: url(../images/m1000x1000.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 6px;
}
.container > .layout > .blocks > .images > .content > .five{
    height: 300px;
    width: 431px;
    border-radius: 10px;
    background-image: url(../images/musician_guitar_guitarist_instruments_artist-1184311.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 6px;
}
.container > .layout > .blocks > .images > .content > .six{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-image: url(../images/ammoon-21-15-4.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 6px;
}
.container > .layout > .blocks > .images > .content > .seven{
    height: 300px;
    width: 452px;
    border-radius: 10px;
    background-image: url(../images/muzykalnyj-instrument-elektrogitara-elektricheskaya-gitara-grif-struny-shestistrunnaya-lady-mediator-muzykant-igraet-muzyka-oboi.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 6px;
}
.container > .layout > .blocks > .images > .content > .eight{
    height: 300px;
    width: 451px;
    border-radius: 10px;
    background-image: url(../images/guitar-g2ccb87154_1920.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 6px;
}
.container > .layout > .blocks > .images > .content > .nine{
    height: 300px;
    width: 450px;
    border-radius: 10px;
    background-image: url(../images/Mitchell-Guitars-HD400.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 6px;
}
.widget > .top{
    margin: 0;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    width: 70px;
    height: 70px;
    color: #ffba70;
    background: #000000;
    border-radius: 10px;
    text-decoration: none;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 64px;
    transition: 0.3s;
}
.widget > .top:hover{
    color: #f77f00;
}